<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Chat Room</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        console.log("1")



        // static/chat.js

            // Получаем ID комнаты из URL
            const roomId = window.location.pathname.split("/").pop();
            const ws = new WebSocket(`ws://${window.location.host}/ws/rooms/${roomId}`);

            // Обработка входящих сообщений
            ws.onmessage = function (event) {
                const messageContainer = document.getElementById("message-container");
                const message = document.createElement("div");
                message.textContent = event.data;
                messageContainer.appendChild(message);
                messageContainer.scrollTop = messageContainer.scrollHeight; // Прокручиваем вниз
            };

            // Отправка сообщений
            function sendMessage() {
                const input = document.getElementById("messageInput");
                if (input.value) {
                    ws.send(input.value);
                    input.value = '';
                }
            }

    </script>
</head>

<body>
    <div id="chat-container">
        <h2>Чат Комнаты</h2>
        <div id="message-container"></div>
        <input type="text" id="messageInput" placeholder="Введите сообщение" autofocus />
        <button onclick="sendMessage()">Отправить</button>
    </div>
    <script src="web/static/chat.js"></script>
</body>

</html>